<Config>    
    <Channel>#sadtest</Channel>
    <DBConn>USER:PASS@HOST:PORT/DB</DBConn>
    <Nick>sadbot</Nick>
    <Ident>sadbot</Ident>
    <FullName>sadbox's bot</FullName>
    <IRCPass>YOURPASSWORD</IRCPass>
    <FlickrAPIKey>LONG STRING HERE</FlickrAPIKey>
    <Commands>
        <Command>
            <Name>!help</Name>
            <Text>Available commands are !hacking, !help, !haata, and !stats.</Text>
        </Command>
        <Command>
            <Name>!stats</Name>
            <Text>https://sadbox.org/geekhack</Text>
        </Command>
        <Command>
            <Name>!hacking</Name>
            <Text>This channel is about keyboards (not hacking), please read the topic.</Text>
        </Command>
    </Commands>
</Config>
